.chart-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
}

svg {
  display: block;
  text-align: center;
  height: 800;
  margin-left: 0;
  margin-right: 0;
}

.tooltip {
  position: absolute;
  font-weight: 600;
  /* top: -50px;
  left: 40px; */
}

.cases {
  margin: 0;
}

.date {
  margin: 0;
}
